@inherits LayoutComponentBase

<PageTitle>Brunch</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main dir="rtl">
        <div class="top-row px-4" >
                 ~~ בראנצ'י - המערכת התחומית לשיבוץ משתתפים למנות באירועים ~~
        </div>

        <article class="content px-4">
            @Body
            
          
        </article>
    </main>
</div>
