@page "/"

<PageTitle>אוכלים ביחד!</PageTitle>

<i class="fad fa-pie"></i>
<h1>האירועים הקרובים</h1>

<AllEvents></AllEvents>
@*Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@